{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-2">
        </div>
    <div class="col-md-8">
        <h1 class="heading bold style-message">lista de Autores</h1>

        <table class="table">
            <thead class="heading bold style-message">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="heading bold style-message">
            {% for autor in autors %}
                <tr>
                    <td><a href="{{ path('autor_show', { 'id': autor.id }) }}">{{ autor.id }}</a></td>
                    <td>{{ autor.nombre }}</td>
                    <td>{{ autor.apellido }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('autor_show', { 'id': autor.id }) }}">mostrar</a>
                            </li>
                            <li>
                                <a href="{{ path('autor_edit', { 'id': autor.id }) }}">editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a class="heading bold style-message" href="{{ path('autor_new') }}">Crear un nuevo autor</a>
            </li>
        </ul>
        </div>
    <div class="col-md-2">
    </div>
    </div>
{% endblock %}
