{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
            <h1 class="heading bold style-message">Crear Autor</h1>

            {{ form_start(form) }}
                <div class="heading bold style-message">
                {{ form_widget(form) }}
                </div>
                <input class="btn btn-primary" type="submit" value="Crear" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a class="heading bold style-message" href="{{ path('autor_index') }}">Volver a la lista</a>
                </li>
            </ul>
        </div>
    <div class="col-md-2">
    </div>
    </div>
{% endblock %}
