{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h1 class="heading bold style-message">Autor</h1>

            <table class="table">
                <tbody>
                    <tr class="heading bold style-message">
                        <th>Id</th>
                        <td>{{ autor.id }}</td>
                    </tr>
                    <tr class="heading bold style-message">
                        <th>Nombre</th>
                        <td>{{ autor.nombre }}</td>
                    </tr>
                    <tr class="heading bold style-message">
                        <th>Apellido</th>
                        <td>{{ autor.apellido }}</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li>
                    <a class="heading bold style-message" href="{{ path('autor_index') }}">Volver a la lista</a>
                </li>
                <li>
                    <a class="heading bold style-message" href="{{ path('autor_edit', { 'id': autor.id }) }}">Editar</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Eliminar">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    <div class="col-md-2">
    </div>

</div>
{% endblock %}
