<!DOCTYPE html>
<html>
<head>
    <!DOCTYPE html>
    <html>
    <head>
        {% block meta_tag %}
            <meta charset="UTF-8" >
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content=""/>
        {% endblock %}
        <title>{% block title %}Bienvenidos{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}" />
            {#<link rel="stylesheet" href="{{ asset('asset/css/login.css') }}" />#}
            <link rel="stylesheet" href="{{ asset('asset/css/modern-business.css') }}" />
            <link rel="stylesheet" href="{{ asset('asset/font-awesome/css/font-awesome.min.css') }}" />

        {% endblock %}
    </head>
<body>
{% block headertop2 %}
{% include "header_top.html.twig" %}
{% endblock %}
    <div class="row">
        {% block body %}{% endblock %}

        
        </div>

</div>
{% block javascripts %}

    <script src="{{ asset("asset/js/jquery.js") }}"></script>
    <script src="{{ asset("asset/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("asset/js/java-propio.js") }}"></script>


    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

    <script>
        $(function() {
            return $(".starrr").starrr();
        });

        $( document ).ready(function() {

            $('#hearts').on('starrr:change', function(e, value){
                $('#count').html(value);
            });

            $('#hearts-existing').on('starrr:change', function(e, value){
                $('#count-existing').html(value);
            });
        });
    </script>


{% endblock %}

</body>
</html>
