<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>

        </button>
        <li class="navbar-brand"><a href="/index2" class="navbar-inner navbar-left"><img src={{ asset('asset/imagenes/logo.png') }}></a></li>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left">

                <li><a href="/index2" >Inicio</a></li>
                <li><a href="/nosotros" >Sobre Nosotros</a></li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Seleccione Categoria <span class="caret"></span></a>
                        <ul class="dropdown-menu ">

                            <li><a href="/cat/7">Bellas Artes y Artes Aplicadas</a></li>
                            <li role="separator" class="divider"></li>
                              <li><a href="/cat/5">Ciencias Naturales Y Matematicas</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="/cat/3">Ciencias Sociales</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="/cat/0">Generalidades </a></li>
                            <li role="separator" class="divider"></li>

                              <li><a href="/cat/9">Geografia e Historia</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="/cat/1">Filosofía Y Psicologia</a></li>
                            <li role="separator" class="divider"></li>

                             <li><a href="/cat/4">Lenguas</a></li>
                            <li role="separator" class="divider"></li>

                             <li><a href="/cat/8">Literaratura y Retorica</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="/cat/2">Religion</a></li>
                            <li role="separator" class="divider"></li>                      
                          
                           
                            <li><a href="/cat/6">Tecnologia (ciencias aplicadas)</a></li>
                          
                            <li role="separator" class="divider"></li>
                           
                          
                            <li><a href="/cat/todos">Listar Todos Los Libros</a></li>
                        </ul>
                    </li>
                    <li><a href="/logout">Salir</a></li>


            </ul>


            <form class="navbar-form pull-right " action="{{ path('libro_busca') }}" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar Libro por Titulo" name="search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </nav>

