<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bienvenidos Biblioteca ITEC</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" href="{{ asset('asset/ind/css/bootstrap.min.css') }}" />
    {#<link rel="stylesheet" href="{{ asset('asset/css/login.css') }}" />#}

    {#<link rel="stylesheet" href="{{ asset('asset/ind/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('asset/ind/css/animate.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('asset/ind/css/et-line-font.css') }}" />
    <link rel="stylesheet" href="{{ asset('asset/ind/css/nivo-lightbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('asset/ind/css/nivo_themes/default/default.css') }}" />#}
    <link rel="stylesheet" href="{{ asset('asset/ind/css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('asset/css/estilo-propio.css') }}" />

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

<!-- preloader section -->

<div class="preloader">
    <div class="sk-spinner sk-spinner-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>

<!-- navigation section -->



<!-- home section -->
<section id="home">
    {#<div class="container container-propio">#}
        {#<div class="row row-sectionHome">#}
            {#<div class="col-md-12 col-sm-12">#}
                {#<h1 id="titulo-principal">BIBLIOTECA VIRTUAL ITEC</h1>#}
                {#<h2 id="titulo-secundario">BIENVENIDO</h2>#}
                {#<hr>#}
                {#<a href="/login" class="smoothScroll btn">Login</a>#}
                {#<a href="/register" class="smoothScroll btn">Registrate</a>#}
                {#<a href="#contact" class="smoothScroll btn">Contacto</a>#}
                {#<a href="/index2" class="smoothScroll btn-propio" >Login</a>#}
                {#<a href="#contact" class="smoothScroll btn-propio" >Contacto</a>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="overlay">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-propio">
                    <p class="italic">Bienvenido!!</p>
                    <h1>BIBLIOTECA VIRTUAL ITEC</h1>
                    <p class="italic">Tu espacio virtual para encontrar todo el material que necesitas.</p>
                    <a href="/login" class="smoothScroll btn">Login</a>
                    <a href="/register" class="smoothScroll btn">Registrate</a>
                    <a href="#contact" class="smoothScroll btn">Contacto</a>
                </div>
            </div>
        </div>
    </div>




</section>

<!-- login -->

<!-- contact section -->
<section id="contact">
    <div class="container">
            <div class="col-md-6 col-sm-12 contact-info">
                <h1 class="heading bold style-message">GRACIAS POR TU VISITA!!</h1>
                <p class="style-message">Dejanos tu inquietud y te responderemos a la brevedad.</p>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">

                    <form action="/enviar" method="post" >
                        <div class="col-md-6 col-sm-6">
                            <input type="text" class="form-control " value="" placeholder="Nombre Y Apellido" name="nombre">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input type="email" class="form-control " value="" placeholder="Email" name="remitente">
                        </div>

                        <br>
                        <br>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12">

                                <textarea class="form-control " placeholder="Mensaje" rows="7" name="mensaje"></textarea>
                            </div>
                        </div>
                        <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">

                            <button type="submit" class="form-control btn btn-primary">Enviar Mensaje</button>
                            <br>
                            
                            
                        </div>

                    </form>
                     <a href="" id="#home" class=" btn btn-danger">Volver</a>

                </div>
    </div>
</section>



<div class="container">
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form>
                    <input type="text" name="user" placeholder="Usuario">
                    <input type="password" name="pass" placeholder="Contraseña">
                    <a href="/index2" class="btn btn-primary btn-block active" role="button">Login</a>
                </form>

                <div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Biblioteca Itec 2016</p>
        </div>
    </div>
</footer>
<!-- footer section -->


    <script src="{{ asset("asset/ind/js/jquery.js") }}"></script>
    <script src="{{ asset("asset/ind/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("asset/ind/js/smoothscroll.js") }}"></script>
    <script src="{{ asset("asset/ind/js/isotope.js") }}"></script>
    <script src="{{ asset("asset/ind/js/imagesloaded.min.js") }}"></script>
    <script src="{{ asset("asset/ind/js/nivo-lightbox.min.js") }}"></script>
    <script src="{{ asset("asset/ind/js/jquery.backstretch.min.js") }}"></script>
    <script src="{{ asset("asset/ind/js/wow.min.js") }}"></script>
    <script src="{{ asset("asset/ind/js/custom.js") }}"></script>




</body>
</html>
