{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class='row'>
        <h2 id="titulo-secundario">Los Ultimos agregados</h2>
        <div class='col-md-12'>
            <div class="carousel slide media-carousel" id="recommendations">
                <div class="carousel-inner">
                   
                    <div class="item  active">
                        <div class="row">
                        {% for libro in libro %}      
                            <div class="col-md-2"><a class="thumbnail" href="{{ path('libro_ver', { 'id': libro.id }) }}"><img alt="{{libro.image}}"  src="{{ asset(['../uploads/archivos/',libro.image]|join) }}"></a>
                            </div>
                        {% endfor %}
                        </div>                        
                    </div>
                    <div class="item">
                        <div class="row">
                        {% for libro in libro2 %}      
                            <div class="col-md-2"><a class="thumbnail" href="{{ path('libro_ver', { 'id': libro.id }) }}"><img alt="{{libro.image}}"  src="{{ asset(['../uploads/archivos/',libro.image]|join) }}"></a>
                            </div>
                        {% endfor %}
                        </div>                        
                    </div>
                    
                    

                </div>
                <a data-slide="prev" href="#recommendations" class="left carousel-control btn btn-default btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a data-slide="next" href="#recommendations" class="right carousel-control btn btn-default btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></a>
                 
            </div>
        </div>
    </div>


    



{% endblock %}