
{% extends 'base.html.twig' %}


    {% block body %}


            <div class="container" id="sobre_nosotros">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                <div class="col-sm-6 contact-info">
                    <h1 class="heading bold style-message2">NUESTRO EQUIPO DE DESARROLLO!!</h1>
                    <p class="style-message2">todo lo que queres saber sobre nuestro equipo</p>
                </div>
                        <div class="col-md-3">
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                    </div>
                <div class="col-sm-3">
                    <h2 class="heading bold style-message2">Project Manager</h2>
                    <h4 class="heading bold style-message2">Egle Moragues </h4>

                </div>

                <div class="col-sm-3">
                    <h2 class="heading bold style-message2">Project Leader</h2>
                    <h4 class="heading bold style-message2">Gualtieri Pablo</h4>
                </div>
                    <div class="col-md-3">
                    </div>
                </div>


                 <div class="row">
                <div class="col-sm-2">
                    </div>
                <div class="col-sm-2">
                    <h2 class="heading bold style-message2">Designe Group</h2>
                    <h4 class="heading bold style-message2">Responsable: Paez Wiliams</h4>

                    <h5 class="heading bold style-message2"> Coria Facundo</h5>
                    <h5 class="heading bold style-message2"> Gualtieri Pablo</h5>
                </div>

                    <div class="col-sm-2">
                    <h2 class="heading bold style-message2">Data Base Group </h2>
                    <h4 class="heading bold style-message2">Responsable: Vives Matias</h4>
                    <h5 class="heading bold style-message2"> Quiroga Sebastian</h5>
                    <h5 class="heading bold style-message2"> Chiappero Federico</h5>
                    <h5 class="heading bold style-message2"> Casale Cristian</h5>
                </div>

                    <div class="col-sm-2">
                    <h2 class="heading bold style-message2">Programmer Group</h2>
                    <h4 class="heading bold style-message2">Responsable: Chiappero Federico</h4>
                    <h5 class="heading bold style-message2"> Vives Matias</h5>
                    <h5 class="heading bold style-message2"> Casale Cristian</h5>
                    <h5 class="heading bold style-message2"> Paez Wiliams</h5>
                </div>

                    <div class="col-sm-2">
                    <h2 class="heading bold style-message2">Resourses Group</h2>
                    <h4 class="heading bold style-message2">Responsable: Piola Leonardo</h4>
                    <h5 class="heading bold style-message2"> Dichiara Matias</h5>
                    <h5 class="heading bold style-message2"> Yaceszen Gaston</h5>
                    <h5 class="heading bold style-message2"> Busso Lucas </h5>
                </div>
                <div class="col-sm-2">
                </div>
                 </div>
            </div>

    {% endblock %}