{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary"type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
{#<div class="input-group">#}
    {#<input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">#}
    {#<span class="input-group-addon" id="basic-addon2">@example.com</span>#}
    <br>
    <a href="/"  class=" btn btn-danger">Volver</a>
{#</div>#}
