#titulo-principal {
    color: #FFC05A;
    text-shadow: 0 0 5px #FF5E00, 0 0 10px #FF5E00, 0 0 15px #FF5E00, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 75px black;
}

#titulo-secundario {
    color: white;
    text-shadow: 0 0 5px #FF5E00, 0 0 10px #FF5E00, 0 0 15px #FF5E00, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 75px black;
}

.btn-propio {
    background-color: rgba(209, 0, 0, 0.6);
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    letter-spacing: 0.2em;
    margin-right: 10px;
    border: 7px solid #FFAF00;
}

a:hover{text-decoration: none; color:black  ;}

.textarea-propio {
    background-color: #F6F6F6;
}

.style-message {
    color: #3C3C3C;
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 75px white;
}

p.style-message {
    font-size: 18px;
}

.home-propio {
    background: rgba(43, 44, 44, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.container-propio {
    background: rgba(43, 44, 44, 0.5);
    width: 100%;
    height: 100%;
}

.row-sectionHome {
    margin-top: 10%;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 2em;
}

.container {
    margin-right: 15px;
    margin-left: 15px;
}

.italic {
    font-style: arial;
}



.text-propio p {
    color: #FFFFFF;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 22px;
    text-align: left;
    font-family: "Cardo", "Times New Roman", Times, serif;
    font-size: 20px;
}

.text-propio h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 22px;
    font-size: 48px;
}



