/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
    font-family: "Cardo", "Times New Roman", Times, serif;
    font-size: 1.07em;
    font-style:italic;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 10px;
    width: 100%;
}
body .container
{
    width: 100%;
    margin: auto;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    height: 120px;
    width : 60px;
    margin-top: 70px;
    margin-left: 15px;
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    height: 120px;
    width : 60px;
    margin-top: 70px;
    margin-right: 15px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 100%;
    height: 260px;
}

#titulo-secundario {
    color: white;
    text-shadow: 0 0 5px #FF5E00, 0 0 10px #FF5E00, 0 0 15px #FF5E00, 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 75px black;
    padding-left: 4%;
}

.style-message {
    color: #3C3C3C;
    font-style: arial;
}

.style-message2 {
    color: #ffffff;
    font-style: arial;
}

p.style-message {
    font-size: 18px;
}

#sobre_nosotros {
    background-image: url("../imagenes/itec.jpg");

    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*background-color: rgba(251, 255, 255, 0.7);*/
    border-radius: 2%;

}

.thumbnail {position: relative; z-index: 0; background-color: transparent; border: transparent;}
.thumbnail:hover{ z-index: 50;}
.thumbnail span{ /* Estilos para la imagen agrandada */
    position: absolute;
    background-color: black;
    padding: 5px;
    left: -100px;
    border: 5px double gray;
    visibility: hidden;
    color: #ffffff;
    text-decoration: none;
}
.thumbnail span img{ border-width: 0; padding: 2px; }
.thumbnail:hover span{ visibility: visible; top: 0; left: 10px; }

.modal-content{
    /*background-color:#222;*/
    color:#ddd;

    background-color: rgba(47, 44, 44, 0.8);
    background: rgba(47, 44, 44, 0.8);
    /*color: rgba(47, 44, 44, 0.8);*/

    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.modal-dialog {
    width: 60%;
    overflow: auto;
    /*background-color:#333;*/


    background-color: rgba(47, 44, 44, 0.8);
    background: rgba(47, 44, 44, 0.8);
    color: rgba(47, 44, 44, 0.8);
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* custom animation */
.modal.fade {
    left: -50%;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.fade.in {
    left: 100px;
}

/* imagen modal */
.modalimg{
    margin-top: 8%;
    width: 150px;
    height: 220px;
}

/* texto modal */
h4 b {
    font-style: inherit;
    color: #8c8c8c;
}

/* ratings modal */
#hearts { color: #ee8b2d; margin-left: 12%; font-size: larger; }
#hearts-existing { color: #ee8b2d;}


/* linea modal */
#linea {
    border-top: inset;
    border-top-color: #222222;

}

/* footer */
/*.pie {*/
    /*background-color: #333;*/
/*}*/
#footer-zone {
    height: 0px;
   
    width:100%;
    position:absolute;
    bottom: 0px;
    left: 0;
}