{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">

    <h1 class="heading bold style-message">Editar categoria</h1>

        {{ form_start(edit_form) }}
            <div class="heading bold style-message">
            {{ form_widget(edit_form) }}
            </div>
            <input class="btn btn-success" type="submit" value="Editar" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a class="heading bold style-message" href="{{ path('categoria_index') }}">Volver a la lista</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Eliminar">
                {{ form_end(delete_form) }}
            </li>
        </ul>
        </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}
