{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <h1 class="heading bold style-message">Lista de Categorias</h1>

        <table class="table">
            <thead class="heading bold style-message">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Aciones</th>
                </tr>
            </thead>
            <tbody class="heading bold style-message">
            {% for categoria in categorias %}
                <tr>
                    <td><a href="{{ path('categoria_show', { 'id': categoria.id }) }}">{{ categoria.id }}</a></td>
                    <td>{{ categoria.nombre }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('categoria_show', { 'id': categoria.id }) }}"></a>mostrar
                            </li>
                            <li>
                                <a href="{{ path('categoria_edit', { 'id': categoria.id }) }}">editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a class="heading bold style-message" href="{{ path('categoria_new') }}">Crear una nueva categoria</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}
