{% extends 'base.html.twig' %}
 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('favicon.ico') }}" />
     <link rel="stylesheet" href="{{ asset('asset/css/bootstrapFOS.css') }}" />
     {#<link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}" />#}
     {#<link rel="stylesheet" href="{{ asset('asset/css/login.css') }}" />#}
     {#<link rel="stylesheet" href="{{ asset('asset/css/modern-business.css') }}" />#}
     {#<link rel="stylesheet" href="{{ asset('asset/font-awesome/css/font-awesome.min.css') }}" />#}

 {% endblock %}
{% block headertop2 %}{% endblock %}
{% block body %}
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="col-lg-3"></div>

            <div class="col-lg-6">


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}


            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}


                {% block fos_user_content %}
                {% endblock fos_user_content %}

    </div>
    <div class="col-lg-3"></div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}