{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-1">
        </div>
    <div class="col-md-10">
    <h1 class="heading bold style-message">lista de Libros</h1>

    <table class="table">
        <thead class="heading bold style-message">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Editorial</th>
                <th>Año</th>
                <th>Descripcion</th>
                <th>imagen</th>


                <th>Cantidad de descargas</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="heading bold style-message">
        {% for libro in libros %}
            <tr>
                <td><a href="{{ path('libro_show', { 'id': libro.id }) }}">{{ libro.id }}</a></td>
                <td>{{ libro.nombre }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.editorial }}</td>
                <td>{{ libro.ano }}</td>
                <td>{{ libro.descripcion }}</td>


                <td>

                    <img class=img-responsive" src=" {{ asset('uploads/archivos/' ~ libro.image) }}" style="max-width: 15%">

                </td>





                <td>{{ libro.cantidadDescargas }}</td>
                <td>{{ libro.categoria }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('libro_show', { 'id': libro.id }) }}">mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('libro_edit', { 'id': libro.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="heading bold style-message" href="{{ path('libro_new') }}">Crear un nuevo libro</a>
        </li>
    </ul>
    </div>

</div>
    <div class="col-md-1">
    </div>
{% endblock %}
