{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <h1 class="heading bold style-message">lista de Libros</h1>

    <table class="table">
        <thead class="heading bold style-message">
            <tr >
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Autor</th>
               
                <th>Editorial</th>
                <th>Año</th>
                <th>Descripcion</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="heading bold style-message">
        {% for libro in libros %}
                {% set string_corto = libro.descripcion|slice(0,100) %}
              
               
            <tr id="linea">
                <td> <a class="thumbnail" href="#"><img alt="{{libro.image}}"  src="{{ asset(['../uploads/archivos/',libro.image]|join) }}"  style="max-width: 50%"></a></td>

                <td>{{ libro.nombre }}</td>
                <td>{{ libro.autor }}</td>

                <td>{{ libro.editorial }}</td>
                <td>{{ libro.ano }}</td>
                <td>{{ string_corto ~'...' }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('libro_ver', { 'id': libro.id }) }}">abrir</a>
                        </li>

                    </ul>
                </td>
            </tr>
          
        {% endfor %}
        </tbody>
    </table>


    </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}
