{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
         <h1 class="heading bold style-message">Crear Libro</h1>

        {{ form_start(form)}}
        <div class="heading bold style-message">
            {{ form_widget(form) }}
            {{ form_row(form.archivo) }}
            <input class="btn btn-primary" type="submit" value="Create" />
        {{ form_end(form) }}

        <ul>
            <li>
                <a class="heading bold style-message" href="{{ path('libro_index') }}">Volver a la lista</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}