{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
        <h1 class="heading bold style-message">Libro</h1>

        <table class="table">
            <tbody class="heading bold style-message">
                <tr>
                    <th>Id</th>
                    <td>{{ libro.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ libro.nombre }}</td>
                </tr>
                <tr>
                    <th>Autor</th>
                    <td>{{ libro.autor }}</td>
                </tr>
                <tr>
                    <th>Editorial</th>
                    <td>{{ libro.editorial}}</td>
                </tr>
                <tr>
                    <th>Año</th>
                    <td>{{ libro.ano }}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ libro.descripcion }}</td>
                </tr>
                <tr>
                    <th>Categoria</th>
                    <td>{{ libro.categoria }}</td>
                </tr>


                <tr>
                    <th>Fecha de creacion</th>
                    <td>{% if libro.fechaCreacion %}{{ libro.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Fecha de modificacion</th>
                    <td>{% if libro.fechaModificacion %}{{ libro.fechaModificacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Cantidad de descargas</th>
                    <td>{{ libro.cantidadDescargas }}</td>
                </tr>
                <tr>
                    <a href="{{ asset('uploads/archivos/' ~ libro.archivo) }}">Ver archivo (PDF)</a>
                </tr>
                <tr>
                    <th>imagen</th>
                    <td>
                        
                       
                        <img class=img-responsive" src=" {{ asset('uploads/archivos/' ~ libro.image) }}" style="max-width: 15%">
                      
                    </td>
                </tr>

            </tbody>
        </table>

        <ul>
            <li>
                <a class="btn btn-default" href="{{ path('libro_index') }}">Volver a la lista</a>
            </li>
            <br>
            <li>
                <a class="btn btn-primary " href="{{ path('libro_edit', { 'id': libro.id }) }}">Editar</a>
            </li>
            <br>
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-danger" type="submit" value="Eliminar">
                {{ form_end(delete_form) }}
            </li>
        </ul>
        </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}
