{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
        <h1 class="heading bold style-message">Libro</h1>

        <table class="table">
            <tbody class="heading bold style-message">
            <tr>
                <th>imagen</th>
                <td>


                    <img class=img-responsive" src=" {{ asset('uploads/archivos/' ~ libro.image) }}" style="max-width: 50%" >

                </td>
            </tr>


            <tr>
                    <th>Nombre</th>
                    <td>{{ libro.nombre }}</td>
                </tr>
                <tr>
                    <th>Autor</th>
                    <td>{{ libro.autor }}</td>
                </tr>
                <tr>
                    <th>Editorial</th>
                    <td>{{ libro.editorial }}</td>
                </tr>
                <tr>
                    <th>Año</th>
                    <td>{{ libro.ano }}</td>
                </tr>

                <tr>
                    <th>Descripcion</th>
                    <td>{{ libro.descripcion }}</td>
                </tr>
                <tr>
                    <th>Categoria</th>
                    <td>{{ libro.categoria}}</td>
                </tr>

                <tr>
                    <a class="btn btn-success " target= "_blank" href="{{ asset('uploads/archivos/' ~ libro.archivo) }}">Ver archivo (PDF)</a>
                </tr>


            </tbody>
        </table>

        <ul>
            <li>
                <a class="btn btn-primary" href="{{ path('biblio') }}">Principal</a>
            </li>
            <br>

            <br>

        </ul>
        </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}
