{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <h1 class="heading bold style-message">Lista de Editoriales</h1>

    <table class="table">
        <thead class="heading bold style-message">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="heading bold style-message">
        {% for editorial in editorials %}
            <tr>
                <td><a href="{{ path('editorial_show', { 'id': editorial.id }) }}">{{ editorial.id }}</a></td>
                <td>{{ editorial.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('editorial_show', { 'id': editorial.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('editorial_edit', { 'id': editorial.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="heading bold style-message" href="{{ path('editorial_new') }}">Crear una nueva editorial</a>
        </li>
    </ul>
    </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}
