{% extends 'base.html.twig' %}
{% block headertop2 %}
    {% include "header_admin.html.twig" %}
{% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
    <h1 class="heading bold style-message">Editorial</h1>

    <table class="table">
        <tbody class="heading bold style-message">
            <tr>
                <th>Id</th>
                <td>{{ editorial.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ editorial.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="heading bold style-message" href="{{ path('editorial_index') }}">Volver a la lista</a>
        </li>
        <li>
            <a class="heading bold style-message" href="{{ path('editorial_edit', { 'id': editorial.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}
